In [1]:
# importing labraries
import pandas as pd

# Reading all the files 
categories = pd.read_csv('data/categories.csv')
cities = pd.read_csv('data/cities.csv')
countries = pd.read_csv('data/countries.csv')
employees = pd.read_csv('data/employees.csv')
products = pd.read_csv('data/products.csv')
customers = pd.read_csv('data/customers.csv')
sales = pd.read_csv('data/sales.csv')

In [2]:
# Checking the structure of each files
for name, df in [('categories', categories), ('cities', cities), ('countries', countries), ('employees', employees), ('products', products),('customers', customers), ('sales', sales)]:
    print(f"\n{name.upper()}")
    print(df.info())
    print(df.head(3))

CATEGORIES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    11 non-null     int64
 1   CategoryName  11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes
None
   CategoryID CategoryName
0           1  Confections
1           2   Shell fish
2           3      Cereals

CITIES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CityID     96 non-null     int64
 1   CityName   96 non-null     object
 2   Zipcode    96 non-null     int64
 3   CountryID  96 non-null     int64
dtypes: int64(3), object(1)
memory usage: 3.1+ KB
None
   CityID CityName  Zipcode  CountryID
0       1   Dayton    80563         32
1       2  Buffalo    17420         32
2       3  Chicago    44751         32

COUNTRIES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryID    206 non-null    int64
 1   CountryName  206 non-null    object
 2   CountryCode  205 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB
None
   CountryID CountryName CountryCode
0          1     Armenia          AN
1          2      Canada          FO
2          3      Belize          MK

EMPLOYEES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EmployeeID     23 non-null     int64
 1   FirstName      23 non-null     object
 2   MiddleInitial  23 non-null     object
 3   LastName       23 non-null     object
 4   BirthDate      23 non-null     object
 5   Gender         23 non-null     object
 6   CityID         23 non-null     int64
 7   HireDate       23 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.6+ KB
None
   EmployeeID  FirstName MiddleInitial LastName                BirthDate  \
0           1     Nicole             T   Fuller  1981-03-07 00:00:00.000
1           2  Christine             W   Palmer  1968-01-25 00:00:00.000
2           3      Pablo             Y    Cline  1963-02-09 00:00:00.000

  Gender  CityID                 HireDate
0      F      80  2011-06-20 07:15:36.920
1      F       4  2011-04-27 04:07:56.930
2      M      70  2012-03-30 18:55:23.270

PRODUCTS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     452 non-null    int64
 1   ProductName   452 non-null    object
 2   Price         452 non-null    float64
 3   CategoryID    452 non-null    int64
 4   Class         452 non-null    object
 5   ModifyDate    452 non-null    object
 6   Resistant     452 non-null    object
 7   IsAllergic    452 non-null    object
 8   VitalityDays  452 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 31.9+ KB
None
   ProductID                 ProductName    Price  CategoryID   Class  \
0          1         Flour - Whole Wheat  74.2988           3  Medium
1          2  Cookie Chocolate Chip With  91.2329           3  Medium
2          3          Onions - Cippolini   9.1379           9  Medium

                ModifyDate Resistant IsAllergic  VitalityDays
0  2018-02-16 08:21:49.190   Durable    Unknown           0.0
1  2017-02-12 11:39:10.970   Unknown    Unknown           0.0
2  2018-03-15 08:11:51.560      Weak      False         111.0

CUSTOMERS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98759 entries, 0 to 98758
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     98759 non-null  int64
 1   FirstName      98759 non-null  object
 2   MiddleInitial  97782 non-null  object
 3   LastName       98759 non-null  object
 4   CityID         98759 non-null  int64
 5   Address        98759 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.5+ MB
None
   CustomerID FirstName MiddleInitial LastName  CityID  \
0           1  Stefanie             Y     Frye      79
1           2     Sandy             T    Kirby      96
2           3       Lee             T    Zhang      55

                   Address
0            97 Oak Avenue
1   52 White First Freeway
2  921 White Fabien Avenue

SALES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6758125 entries, 0 to 6758124
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   SalesID            int64
 1   SalesPersonID      int64
 2   CustomerID         int64
 3   ProductID          int64
 4   Quantity           int64
 5   Discount           float64
 6   TotalPrice         float64
 7   SalesDate          object
 8   TransactionNumber  object
dtypes: float64(2), int64(5), object(2)
memory usage: 464.0+ MB
None
   SalesID  SalesPersonID  CustomerID  ProductID  Quantity  Discount  \
0        1              6       27039        381         7       0.0
1        2             16       25011         61         7       0.0
2        3             13       94024         23        24       0.0

   TotalPrice                SalesDate     TransactionNumber
0         0.0  2018-02-05 07:38:25.430  FQL4S94E4ME1EZFTG42G
1         0.0  2018-02-02 16:03:31.150  12UGLX40DJ1A5DTFBHB8
2         0.0  2018-05-03 19:31:56.880  5DT8RCPL87KI5EORO7B0

In [ ]:
import duckdb
# create a connection 
con = duckdb.connect()

# merge datasets directly from CSVs
merged_df = con.execute("""
    SELECT s.*, p.ProductName, p.CategoryID, c.CustomerName, c.Country
    FROM 'data/sales.csv' AS s
    LEFT JOIN 'data/products.csv' AS p ON s.ProductID = p.ProductID
    LEFT JOIN 'data/customers.csv' AS c ON s.CustomerID = p.CustomerID                        
""").df()

print(merged_df.head())

BinderException: Binder Error: Table "p" does not have a column named "CustomerID"

Candidate bindings: : "CategoryID"

LINE 5:     LEFT JOIN 'data/customers.csv' AS c ON s.CustomerID = p.CustomerID
                                                                  ^

In [ ]:
# Merging sales + products + customers + employees
chunk_size = 100000
chunks = []
for chunk in pd.read_csv('data/sales.csv', chunksize=chunk_size):
    merged = sales.merge(products, on='ProductID', how='left') \
        .merge(customers, on='CustomerID', how='left')
    
    chunks.append(merged)

merged_df = pd.concat(chunks, ignore_index=t)
print(merged_df.head())
print(merged_df.shape)